main{
    background-color: #fefae0;
    color: #343A40;
    font-family: "Inter";
}

.color1_orange{
    color: #ff9900;
}

.color2_red{
    color: #f54b31;
}

.color3_bluegray{
    color: #395470;
}

.color4_navy{
    color: #003566;
}

.text-shadow {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.underline{
    border-bottom: 3px solid #ff9900;
}

.btn-orange{
    background-color: #ff9900;
    color: white;
    border-color: #ff9900;
    border-width: medium;
}

.btn-orange:hover {
    border-color: #ff9900;
    border-width: medium;
    color: #ff9900;
}

.btn-navy{
    background-color: #003566;
    color: white;
    border-color: #003566;
    border-width: medium;
}

.btn-navy:hover {
    border-color: #003566;
    border-width: medium;
    color: #003566;
}

.background-image-parkinglot-reservation-top {
    background-image: url('/images/parking image_harf_top.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.background-image-parkinglot-reservation-bottom {
    background-image: url('/images/parking image_harf_bottom.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.table.table-background-color-none > thead > tr > th,
.table.table-background-color-none > tbody > tr > td,
.table.table-background-color-none > tfoot > tr > td {
    background-color: transparent !important;
    border: none !important;
    color: #343A40;
}

.btn-red{
    background-color: white;
    color: #f54b31;
    border-color: #f54b31;
    border-width: medium;
}

.btn-red:hover {
    background-color: #f54b31;
    color: white;
    border-color: #f54b31;
    border-width: medium;
}

.bg-orange{
    background-color: #FAE9C5;
}

.border-orange{
    border-color: #ff9900 !important;
}

.reviews {
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
    scrollbar-width: thin;
}

.reviews.collapsed {
    max-height: 400px;
}

/* USER PROFILE */
/* RESERVATION HISTORY */
/* FAVORITE LIST */
.row-info{
    text-align: center;
}
  
.tab{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid orange;
    padding: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}
  
.tab-link{
    text-decoration: none;
    color: orange;
}
  
.tab-link-active{
    text-decoration: none;
    color: white;
}
  
.tab-active{
    background-color: orange;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}
  
.card{
    background-color: white;
    border-top: 5px solid orange;
    border-right: none;         
    border-bottom: none;        
    border-left: none;  
}