main{
    background-color: #fefae0;
    color: #343A40;
    font-family: "Inter";
}

.color1{
    color: #ff9900;
}

.color2{
    color: #f54b31;
}

.color3{
    color: #395470;
}

.color4{
    color: #003566;
}
